@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Raleway&display=swap');
@font-face {
    font-family: 'Daydream';
    src: url(../../font/daydream.ttf);
}
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}
header{
    width: 100%;
}
header .logo{
    height: 10vh;
    margin-left: 10vw;
}
header .aLogo:hover{
    font-size: 1em;
}
nav{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff10a;
    font-family: 'Daydream';
    font-size: 1em;
    transition: .2s;
}
nav a{
    color: #000;
    text-decoration: none;
}
nav a:hover{
    font-size: 1.5em;
    transition: .2s;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 1.5em;
    width: 100%;
    font-family: 'Daydream';
    background-color: #cf240a;
    color: #fff;
}
footer span{
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #000;
}
