@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=Raleway&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* PARA TODO O BODY */
    body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
    }
/* HEADER */
    header{
        display: flex;
        gap: 5vw;
        width: 100%;
        background-color: #fec208;
    }
    header .logo{
        height: 10vh;
        margin-left: 10vw;
    }
    header .aLogo:hover{
        font-size: 1em;
    }
    /* NAVBAR */
        nav{
            height: 10vh;
            width: 100%;
            display: flex;
            margin: 0 5vw;
            justify-content: space-between;
            align-items: center;
            font-family: 'Comfortaa';
            font-size: 1em;
            transition: .2s;
            text-transform: capitalize;
        }
        nav a{
            color: #000;
            text-decoration: none;
        }
        nav a:hover{
            font-size: 1.5em;
            transition: .2s;
        }
        /* ICONE CARRINHO */
        header .cartIcon{
            height: 5vh;
            width: 2.5vw;
            object-fit: cover;
        }
        header button{
            background: none;
            border: none;
            cursor: pointer;
            margin-right: 2vw;
        }
        header button:hover{
            opacity: .6;
        }
        .cart{
            display: flex;
            width: 80px;
            height: 50px;
            cursor: pointer;
        }
        [data-cart]{
            width: 50px;
            margin: 0;
        }
        .cart:hover{
            opacity: .6;
        }
        /* QUANTIDADE DE ITENS NO CARRINHO */
        .showCartValue{
            position: relative;
            align-self: flex-start;
            right: 0;
            top: 1.2vh;
            transform: translate(-70%, -30%);
            border-radius: 50%;
            background-color: #ff2d08;
            color: #fff;
            z-index: 1;
            height: 20px;
            width: 20px;
            text-align: center;
        }
/* MAIN  */
main{
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 5vh;
}
    /* PRODUTO  */
    .produto{
        display: flex;
        width: 100%;
        justify-content: space-between;
        border-bottom: 1px solid #000;
        margin: 5vh 0;
    }
    .produto p{
        font-size: .7em;
    }
    .produto img{
        height: 8vh;
        transition: .1s ease-in-out;
    }
    .produto img:hover{
        transform: scale(7);
        transition: .1s ease-in-out;
    }
    .subproduto{
        display: flex;
        align-items: center;
        gap: 1vw;
        width: 50%;
    }
    .valor{
        display: flex;
        align-items: center;
        gap: 1vw;
        width: 5vw !important;
        font-size: 1.5em !important;
    }
    input[type='checkbox']{
        height: 17px;
        width: 17px;
        cursor: pointer;
    }
    label{
        cursor: pointer;
        font-size: 1.5em;
    }
    /* PREVIA */
    .final{
        height: 35px;
        width: 15vw;
        background: none;
        border: 2px solid #ff2d08;
        color: #ff2d08;
        font-size: 1vw;
        text-transform: uppercase;
        cursor: pointer;
        text-align: center;
        transition: .1s ease-in-out;
    }
    .final:hover{
        border: 2px solid #000;
        color: #000;
        padding: 1vh;
        transition: .2s ease-in-out;
        border-radius: 20px;
        background: none;
    }
    .modalConfirm{
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
        background-color: #00000090;
        width: 100vw;
        height: 100vh;
        z-index: 2;
    }
    .psubtle{
        font-size: .8em;
    }
    .msubtle{
        display: none;
    }
/* INGREDIENTE */
/* MODAL INSERIR NO CARRINHO */
/* MODAL CARRINHO */
/* TABELA PEDIDOS */
#valorAqui{
    background: none;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    width: 5vw;
}
.edit{
    display: flex !important;
    width: 3vmin !important;
}
.edit button{
    height: auto !important;
    width: auto !important;
    background: none !important;
    border: none !important;
    cursor: pointer !important;
}
.edit button:hover{
    opacity: .8 !important;
}
.edit img{
    height: 3vmin !important;
    width: 3vmin !important;
}
main h6{
    border: 1px solid #000;
    width: 30%;
    padding: 1vh;
    font-size: 2em;
    margin-top: 5vh;
}
.mheader{
    display: none;
}
.qtd{
    width: 3vw;
    height: 3vh;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    text-align: center;
}
.list img:hover{
    transform: scale(1) !important;
}
.hide{
    display: none;
}
.message{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    border-radius: 5px;
    height: auto;
    padding: 2vh;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    background-color: #fec208;
    z-index: 3;
}
.messsage table{
    text-align: center;
}
.message p{
    align-self: flex-end;
    margin-top: 2vh;
}
.message button{
    background: none;
    justify-self: flex-end;
    align-self: flex-end;
    border: 2px solid #ff2d08;
    color: #ff2d08;
    text-transform: uppercase;
    font-size: 1em;
    padding: 1vh;
    width: 20vw;
    margin: 1vw 1vh;
    cursor: pointer;
    text-align: right;
    transition: width .1s ease-in-out .1s;
}
.message button:hover{
    border: 2px solid #000;
    color: #000;
    width: 25vw;
    transition: width .2s ease-in-out .1s;
}
.pedidos{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff10a;
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}
#tabelaPedidos{
    text-transform: lowercase;
    border-bottom: 1px solid #fff;
    padding: 1vh 1vw;
}
.finale{
    display: flex;
    position: fixed;
    bottom: 10px;
    min-width: 50vw;
    max-width: fit-content;
    height: 10vh;
    background-color: #fec208;
    border-radius: 2px;
    align-self: center;
    justify-content: space-between;
    align-items: center;
}
.finale .sub{
    display: flex;
    align-items: center;
    margin-right: 2vw;
}
[data-resume]{
    margin: 0 5vw;
    font-size: 1.5em;
}
.quantidade{
    padding: 1vh;
    display: flex;
}
.quantidade button{
    cursor: pointer;
    font-size: 2em;
    height: 35px;
    background-color: #ff2d08;
}
.quantidade input#qtd{
    background: none;
    text-align: center;
    font-size: 1em;
}
.quantidade button, .quantidade input{
    /* padding: 1vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ff2d08 !important;
    outline: none;
    height: 35px;
    width: 30px;
}
input#qtd::-webkit-outer-spin-button, input#qtd::-webkit-inner-spin-button {
    display: none;
}
input#qtd{
    -moz-appearance: textfield;
}
.close{
    height: 20px;
    width: 20px;
    font-size: 1em;
    cursor: pointer;
    position: fixed;
    justify-items: end;
    align-self: flex-start;
    font-weight: 700;
    background: none;
    border: none;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 1em;
    width: 100%;
    font-family: 'Comfortaa';
    background-color: #cf240a;
    color: #fff;
}
footer span{
    text-shadow: 0 0 0.2em #000;
    font-size: 1.4em;
}
footer a{
    text-decoration: none;
    color: #fff;
}
@media screen and (max-width: 800px) {
    .showCartValue{
        font-size: .6em;
    }
    .close{
        align-self: flex-start;
        bottom: 19vh;
    }
    .finale{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        min-width: 90vw;
        height: 20vh;
    }
    .finale button:hover{
        padding: 0;
    }
    .sub{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 2vh;
    }
    [data-resume]{
        margin-top: 2vh;
        font-size: 1em;
    }
    .final{
        width: 70vw;
        font-size: 1em;
        align-self: center;
    }
    header .aLogo{
        display: none;
    }
    .cart{
        width: auto;
        margin: 1vh 0;
    }
    .cartIcon{
        width: 50px !important;
        height: 50px !important;
        object-fit: fill;
    }
    header{
        height: auto;
    }
    .mheader{
        color: #fff;
        display: inline;
        text-align: center;
        font-size: 3em;
        font-family: 'Comfortaa';
        text-shadow: 0 0 0.2em #000;
    }
    .message{
        width: 90vw;
    }
    .message button{
        width: 30vw;
    }
    nav{
        flex-direction: column;
        height: auto;
        font-size: 1.5em;
    }
    nav a{
        width: 100%;
        text-align: center;
        padding: 1vh 0;
        border-bottom: 1px solid #000;
    }
    main h6{
        width: 80%;
    }
    .psubtle{
        display: none;
    }
    .msubtle{
        display: inline;
        font-size: .6em;
    }
    .produto img:hover{
        transform: scale(1);
    }
    .hide{
        display: none;
    }
    .subproduto p.ingredientes{
        position: absolute;
        display: flex;
        width: 60vw;
        background-color: #fff;
        border: 1px solid #000;
        padding: .5vh;
        font-weight: 700;
        font-size: 1em;
    }
    .subproduto label{
        font-size: 1.5em;
    }
    .list{
        display: none;
    }
    div.valor{
        width: 17vw !important;
    }
    footer{
        height: 6vh;
        font-size: .8em;
        text-align: center;
    }
}